location /headers {
  expires -1;
  default_type 'text/html';
  content_by_lua '
  local h = ngx.req.get_headers()
  ngx.say("remote-addr=",ngx.var.remote_addr, "<br>")
  for k, v in pairs(h) do
    ngx.say(k, "=", v, "<br>")
    end
  ';
}

