pagespeed on;
pagespeed FileCachePath /var/cache/nginx/ngx_pagespeed_cache;

# Filter settings
pagespeed RewriteLevel PassThrough;

pagespeed EnableFilters rewrite_images;
pagespeed EnableFilters convert_to_webp_lossless;
pagespeed EnableFilters recompress_images;
pagespeed EnableFilters remove_comments;
pagespeed EnableFilters collapse_whitespace;
pagespeed EnableFilters extend_cache_images;
pagespeed EnableFilters sprite_images;


# ERRORS
#pagespeed EnableFilters rewrite_css;
#pagespeed EnableFilters combine_css;
#pagespeed EnableFilters rewrite_javascript;
#pagespeed EnableFilters combine_javascript;
#pagespeed EnableFilters inline_javascript;
#pagespeed EnableFilters inline_css;
#pagespeed EnableFilters extend_cache;


pagespeed Statistics on;
pagespeed AdminPath /pagespeed_admin;

