testcookie_name st;
testcookie_secret d63e0efaa378531c25a8bd7c87ba2279a3fa3861575d8b319abb07dca510f6d2;
testcookie_session $binary_remote_addr;
testcookie_arg r;
testcookie_max_attempts 0;
testcookie_get_only on;
#testcookie_redirect_via_refresh on;
#testcookie_refresh_template '<html><body><script>document.cookie="st=$testcookie_set";document.location.href="$testcookie_nexturl";</script></body></html>';
